[supervisord]
nodaemon=true
logfile=/vol/logs/{{HOSTNAME}}-supervisord.log

[unix_http_server]
file=/var/run/supervisor.sock
chmod=0700

[rpcinterface:supervisor]
supervisor.rpcinterface_factory = supervisor.rpcinterface:make_main_rpcinterface

[supervisorctl]
serverurl=unix:///var/run/supervisor.sock

[program:crossbar]
command=/run-crossbar.sh
autorestart=true
stdout_events_enabled=true
stderr_events_enabled=true
stdout_logfile=/vol/logs/crossbar-crossbar.log
redirect_stderr=true
umask=002
priority=1

